html {
    background-color: #4a646c;
    color: black;
}

#heading {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-shadow: 4px 4px 4px white;
}

.footer {
    text-align: center;
}

header {
    background-color: #36454f;
    text-align: center;
    border: 10px solid #36454f;
    border-radius: 25px;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0%;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.button {
    background-color: #36454f;
    border: 3px solid #36454f;
    font-size: 2rem;
    margin-left: 1px;
    margin-right: 1px;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

}

.button:hover, .button:focus {
    background-color: #5f5e5e;
    color: white;
}

.center_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.about_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.about_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    width: 60%;
    height: fit-content;
    font-size: 1.33rem;
    flex-shrink: 1;
    margin-left: 20px;
    margin-right: 10px;
    background: #36454f;
    border-radius: 25px;
    box-shadow: 0px 0px 25px whitesmoke;
}

#paragraphs_1_2 {
    margin-right: 10px;
    margin-left: 50px;
}

#paragraphs_3_4 {
    margin-left: 5px;
}

.about_image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30%;
}

#home_desc {
    font-size: 1.8rem;
    background: #36454f;
    border-radius: 25px;
    box-shadow: 0px 0px 25px whitesmoke;
}

#brayden_photo_home {
    width: 20%;
    border: 5px solid #36454f;
}

#brayden_photo_about {
    border: 5px solid #36454f;
    height: 100%;
    width: 100%;
}

.list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    background: #36454f;
    border-radius: 25px;
    box-shadow: 0px 0px 25px  whitesmoke;
    margin-top: 25px;
    text-align: center;
}

.goals_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.general_edu_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 5000px) {
    .button {
        font-size: x-large;
    }
}    

@media only screen and (max-width: 1280px) {
    .button{
        font-size: x-large;
    }
    .about_page {
        flex-direction: column;
    }
    .about_image_container {
        width: 75%;
        height: fit-content;
    }
    .about_container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0px auto;
    }
    #brayden_photo_about {
        width: inherit;
    }
    .button {
        font-size: 14px;
    }
    #paragraphs_1_2 {
        margin-left: 0%;
        width: 95%;
    }
    #paragraphs_3_4 {
        margin-left: 0%;
        width: 96%;
    }
}

@media only screen and (max-width: 833px) {
    .about_page {
        flex-direction: column;
    }
    .about_image_container {
        width: inherit;
        height: fit-content;
    }
    .about_container {
        flex-direction: column;
        width: 100%;
    }
    #brayden_photo_about {
        width: inherit;
    }
    .button {
        font-size: 14px;
    }
    #paragraphs_1_2 {
        margin-left: 0%;
        width: 90%;
    }
    #paragraphs_3_4 {
        margin-left: 0%;
        width: 92%;
    }
    .general_edu_page {
        flex-direction: column;
    }
}

